executor {
    name = "local"
    cpus = 9
}

singularity {
    enabled = true
    runOptions = "--no-home"
    autoMounts = true
}

podman {
    enabled = false
    mountFlags = 'z'
    runOptions = ""
}

process {
    container = 'docker://fedxa/nanopore_tools:0.3'
    withName: "GET_CLAIR3_MODEL" {
	cpus=1
    }
    withName: "LIFTOVER.*" {
	cpus=1
    }
    withName: "FLYE_ASSEMBLE|MAP_READS_TO_REF" {	
        cpus=4
    }
    withName: "MEDAKA_POLISH" {
        cpus=2
    }
    withName: ".*_TO_FASTQ_GZ" {
    	cpus=4
    }
}

process {
    withLabel: 'Rscript' {
	container="docker://fedxa/bioconductor:3.18"
	cpus=1
    }
}

process {
    withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
        cpus=4
	container = 'docker://hkubal/clair3:v1.0.5'
//	container = 'clair3_latest.sif'
//	containerOptions = '-B/home/fedor/Work/2016_kelley_EMOTE_RpoB'
    }
    withName: "SNIFFLES_CALL" {
        cpus=4
	container = "docker://fedxa/sniffles:2.2"
    }
}

process {
    withName: "PROKKA_ANNOTATE" {
        cpus=4
        container = "docker://staphb/prokka:1.14.6"
    }
}

// Publish naming correction

process {
    withName: "MERGE_MEDAKA_AND_CONS_CALLS_CONS_LIFTED" {
        publishDir = [
		       mode: 'link',
		       path: { "${params.data_dir}/${meta.name}" },
	               saveAs: { it.replaceFirst(/ref/, ref_meta.name+".lifted") }
		     ]
    }
    withName: "MERGE_JOINED_CALL_FILES_CONS_LIFTED" {
        publishDir = [
		       mode: 'link',
		       path: { "${params.data_dir}/${meta.name}" },
	               saveAs: { it.replaceFirst(/ref/, ref_meta.name+".lifted") }
		     ]
    }
}
