////////////////////////////////////////////////////////////////////////
// General defaults correct for any executors
////////////////////////////////////////////////////////////////////////
// Often fails on top of profiles....

////////////////////////////////////////////////////////////////////////
// Profiles
////////////////////////////////////////////////////////////////////////
profiles {

    // slurm cluster example ////////////////////////////////////////////
    baobab {
        process {
            executor = "slurm"
            queue = 'shared-cpu'
            time = '12h'
            // cpus = 1
            memory = "10 GB"
        }
        // Container setup
        process {
            container = 'fedxa/nanopore_tools@sha256:1e4f90e4a420947d1f534971f771e1f5d6959432716d4d7bc25abeca1baa0dcb'
            withLabel: 'Rscript' {
	        container="docker://fedxa/bioconductor:3.18"
            }
            withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
	        container = 'docker://hkubal/clair3:v1.0.5'
            }
            withName: "SNIFFLES_CALL" {
	        container = "docker://fedxa/sniffles:2.2"
            }
            withName: "PROKKA_ANNOTATE" {
                container = "docker://staphb/prokka:1.14.6"
            }
        }
        params {
	    publish_mode = "copy"
	}

        singularity {
            enabled = true
            //   runOptions = "--no-home"
            // Hack for somewhat chaotic baobab slurm envirnment for temp files
            runOptions = "-B/scratch"
            autoMounts = true
        }

        process {
            withName: "FLYE_ASSEMBLE.*|MAP_READS_TO_.*" {	
                cpus=8
                memory = "60 GB"
            }  
            withName: "MEDAKA.*" {
                // Useless to add 4 threads for MEDAKA, 2 is max on cpu, but adding memory?
                cpus=4
                memory = "40 GB"
		// GPU attempt
		// queue = "shared-gpu"
                // clusterOptions = '--gpus=1 --constraint="COMPUTE_CAPABILITY_8_0|COMPUTE_CAPABILITY_8_6"'
                // containerOptions = "--nv"
            }
            withName: ".*_TO_FASTQ_GZ" {
                cpus=4
            }
            withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
                cpus=4
                memory = "40 GB"
            }
            withName: "SNIFFLES_CALL" {
                cpus=4
                memory = "40 GB"
            }
            withName: "PROKKA_ANNOTATE" {
                cpus=4
                memory = "40 GB"
            }
        }
    }
    ////////////////////////////////////////////////////////////////////

    // Local executor example //////////////////////////////////////////
    local {
    	executor {
            name = "local"
	    cpus = 9 // Performance cores+1 on nano
        }
        params {
	    publish_mode = "link"
	}
        singularity {
            enabled = true
            runOptions = "--no-home"
            autoMounts = true
        }
	process {
            container = 'fedxa/nanopore_tools@sha256:1e4f90e4a420947d1f534971f771e1f5d6959432716d4d7bc25abeca1baa0dcb'
	    withLabel: 'Rscript' {
	    	container="docker://fedxa/bioconductor:3.18"
	    }
	    withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
                container = 'docker://hkubal/clair3:v1.0.5'
	    }
	    withName: "SNIFFLES_CALL" {
	        container = "docker://fedxa/sniffles:2.2"
	    }
	    withName: "PROKKA_ANNOTATE" {
                container = "docker://staphb/prokka:1.14.6"
	    }
	}
	// level of CPU prallelization
	process {
	    withName: "FLYE_ASSEMBLE|MAP_READS_TO_.*" {
                cpus=4
            }
            withName: "MEDAKA_POLISH" {
                cpus=2
            }
            withName: ".*_TO_FASTQ_GZ" {
    	        cpus=4
            }
            withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
                cpus=4
            }
            withName: "SNIFFLES_CALL" {
                cpus=4
            }
            withName: "PROKKA_ANNOTATE" {
                cpus=4
            }
        }
    }
    ////////////////////////////////////////////////////////////////////////


    // Local executor example //////////////////////////////////////////
    local_docker {
    	executor {
            name = "local"
	    cpus = 9 // Performance cores+1 on nano
        }
        params {
	    publish_mode = "link"
	}
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
           // This may be needed on SElinux distributions, like Fedora or centos
           // mountFlags = 'z'
        }
	process {
            container = 'fedxa/nanopore_tools@sha256:1e4f90e4a420947d1f534971f771e1f5d6959432716d4d7bc25abeca1baa0dcb'
	    withLabel: 'Rscript' {
	    	container="docker://fedxa/bioconductor:3.18"
	    }
	    withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
                container = 'docker://hkubal/clair3:v1.0.5'
	    }
	    withName: "SNIFFLES_CALL" {
	        container = "docker://fedxa/sniffles:2.2"
	    }
	    withName: "PROKKA_ANNOTATE" {
                container = "docker://staphb/prokka:1.14.6"
	    }
	}
	// level of CPU prallelization
	process {
	    withName: "FLYE_ASSEMBLE|MAP_READS_TO_.*" {
                cpus=4
            }
            withName: "MEDAKA_POLISH" {
                cpus=2
            }
            withName: ".*_TO_FASTQ_GZ" {
    	        cpus=4
            }
            withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
                cpus=4
            }
            withName: "SNIFFLES_CALL" {
                cpus=4
            }
            withName: "PROKKA_ANNOTATE" {
                cpus=4
            }
        }
    }
    ////////////////////////////////////////////////////////////////////////

}
