executor {
    name = "local"
    cpus = 9
}

singularity {
    enabled = true
    runOptions = "--no-home"
    autoMounts = true
}

podman {
    enabled = false
    mountFlags = 'z'
    runOptions = ""
}

process {
    container = 'docker://fedxa/nanopore_tools:0.3'
    withName: "GET_CLAIR3_MODEL" {
	cpus=1
    }
    withName: "LIFTOVER.*" {
	cpus=1
    }
    withName: "FLYE_ASSEMBLE|MAP_READS_TO_REF" {	
        cpus=4
    }
    withName: "MEDAKA_POLISH" {
        cpus=2
    }
}

process {
    withLabel: 'Rscript' {
	container="docker://fedxa/bioconductor:3.18"
	cpus=1
    }
}

process {
    withName: "CLAIR3_CALL|CLAIR3_CALL_SENSITIVE" {	
        cpus=4
	container = 'docker://hkubal/clair3:v1.0.5'
//	container = 'clair3_latest.sif'
//	containerOptions = '-B/home/fedor/Work/2016_kelley_EMOTE_RpoB'
    }
    withName: "SNIFFLES_CALL" {
        cpus=4
	container = "docker://fedxa/sniffles:2.2"
    }
}
